<div class="dpmc-drawer mdl-layout__drawer" aria-hidden="true">
  <span class="mdl-layout-title">Menu</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link smooth" href="../index.html">Home</a>
    <a class="mdl-navigation__link smooth" href="Overview.html">Overview</a>
    <a class="mdl-navigation__link smooth" href="Snapshot.html">Snapshot</a>
    <a class="mdl-navigation__link smooth" href="Rule.html">Rules</a>
    <a class="mdl-navigation__link smooth" href="Capability.html">Capability</a>
    <a class="mdl-navigation__link smooth" href="Culture.html">Culture</a>
    <a class="mdl-navigation__link smooth" href="Submission.html">Submissions</a>
  </nav>
</div>
