<footer class="dpmc-footer mdl-mini-footer">
  <a class="goToTop smooth mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect" href="#top" title="Go to top of this page">
    <i class="material-icons">arrow_upward</i>
  </a>
  <h3>Connect with us</h3>
  <ul class="mdl-mini-footer__link-list social-media-links">
    <li><a href="https://twitter.com/dta" class="twitter">Twitter</a></li>
    <li><a href="https://www.facebook.com/DigitalTransformationAgency/" class="facebook">Facebook</a></li>
    <li><a href="https://au.linkedin.com/company/digital-transformation-office" class="linkedin">LinkedIn</a></li>
  </ul>
  <p>Find information about the review of ICT procurement on the <a href="https://www.dta.gov.au/ict-procurement">Digital Transformation Agency website</a></p>
</footer>
