<footer class="dpmc-footer mdl-mini-footer">
  <a class="goToTop smooth" href="index.html#top" title="Go to top of this page">
    <i class="material-icons">arrow_upward</i>
  </a>
  <div class="mdl-grid">
    <div>
      <p>
        <strong>Connect with us</strong><br /><br />
        <a href="https://twitter.com/pmc_gov_au"><img alt="Twitter" src="https://www.dpmc.gov.au/sites/all/themes/dpmc/css/img/social-twitter.png"></a>
        <a href="https://www.youtube.com/user/AusGovDPMC"><img alt="YouTube" src="https://www.dpmc.gov.au/sites/all/themes/dpmc/css/img/social-youtube.png"></a>
        <a href="https://www.linkedin.com/company/department-of-the-prime-minister-and-cabinet"><img alt="LinkedIn" src="https://www.dpmc.gov.au/sites/all/themes/dpmc/css/img/social-linkedin.png"></a>
      </p>
      <ul class="menu mdl-mini-footer--link-list">
        <li class="first leaf menu-mlid-1707"><a href="https://www.dpmc.gov.au/pmc/information-publication-scheme" title="">Information Publication Scheme</a></li>
        <li class="leaf menu-mlid-1711"><a href="https://www.dpmc.gov.au/privacy-and-legals" title="">Privacy and Legals</a></li>
        <li class="leaf menu-mlid-1712"><a href="https://www.dpmc.gov.au/accessibility" title="">Accessibility</a></li>
        <li class="leaf menu-mlid-3834"><a href="https://www.dpmc.gov.au/contact-us" title="">Contact Us</a></li>
        <li class="last leaf menu-mlid-5323"><a href="https://www.dpmc.gov.au/who-we-are/accountability-and-reporting/freedom-information" title="">Freedom of Information</a></li>
      </ul>
    </div>
  </div>
</footer>
