<header class="dpmc-header mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    <span class="dpmc-title mdl-layout-title">
      <a href='/index.html' class="banner-home-link">
        <img src='/assets/images/icon-home.svg' class="dpmc-home-image banner-home-img" alt="Home" role="presentation">
        <span class="show-for-sr">Home</span>
      </a>
    </span>
    <span class="dpmc-title mdl-layout-title">
      <a href='../index.html' class="banner-crest-link" title="Return to the ICT Procurement Taskforce home page">
        <img src='../assets/images/logo-white.svg' class="dpmc-logo-image banner-crest-img" alt="Department of the Prime Minister and Cabinet" role="presentation"></a>
    </span>
    <!-- Add spacer, to align navigation to the right in desktop -->
    <div class="dpmc-header-spacer mdl-layout-spacer"></div>
    <!-- Navigation -->
    <div class="dpmc-navigation-container">
      <nav class="dpmc-navigation mdl-navigation">
        <a class="mdl-navigation__link smooth" href="overview.html">Overview</a>
        <a class="mdl-navigation__link smooth" href="snapshot.html">Snapshot</a>
        <a class="mdl-navigation__link smooth" href="rule.html">Rules</a>
        <a class="mdl-navigation__link smooth" href="capability.html">Capability</a>
        <a class="mdl-navigation__link smooth" href="culture.html">Culture</a>
        <a class="mdl-navigation__link smooth" href="submission.html">Submissions</a>
      </nav>
    </div>
  </div>
</header>
