header {
  position: relative;
  .mdl-layout__drawer-button {
    top: 25%;
  }
  .mdl-layout__header-row {
    height: 85px;
    .dpmc-logo-image {
      height: 70px;
    }
  }
  .dpmc-navigation {
    .mdl-navigation__link {
      display: inline-block;
    	padding: 0 18px;
    	height: 60px;
    	line-height: 68px;
    	background-color: transparent !important;
    	border-bottom: 4px solid transparent;
      &.isActive,
      &:hover {
        border-bottom: 4px solid #007279;
      }
    }
  }
}

@media (max-width: 1100px) {
  header {
    .dpmc-home-image,
    .dpmc-logo-image {
      margin-left: 0;
    }
    .dpmc-navigation {
      .mdl-navigation__link {
        font-size: 90%;
        padding: 0 0.5rem;
      }
    }
  }
}

@media (max-width: 900px) {
  header {
    .dpmc-navigation {
      display: none;
      visibility: hidden;
    }
  }
}
