.social-media-links {
  a {
    &:hover {
      text-decoration: underline;
      color: white;
    }
    &.twitter:before {
      background-image: url('https://www.dta.gov.au/images/icons/twitter.svg');
    }
    &.youtube:before {
      background-image: url('https://www.dta.gov.au/images/icons/youtube.svg');
    }
    &.linkedin:before {
      background-image: url('https://www.dta.gov.au/images/icons/linkedin.svg');
    }
    &:hover:before {
      filter: invert(100%) hue-rotate(200deg);
    }
    &:before {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      content: ' ';
      display: inline-block;
      height: 1.2em;
      margin-right: 0.4em;
      width: 1.2em;
      filter: invert(100%);
    }
  }
}
